html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

body {
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
  background-image: url(/public/images/backgroundImage.png);
  background-size: cover;
  background-position: center;
}
